Repository HPI-de/hpi-flutter, pull requests merged in 2019-08, with the labels that each got.

#2 feat(news): add article list
  .gitignore
  lib/core/data/image.dart
  lib/core/data/utils.dart
  lib/main.dart
  lib/news/bloc.dart
  lib/news/data/article.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/news_page.dart
  lib/routes.dart
  pubspec.lock
  pubspec.yaml
Labels: C: news, P: 5, T: feat

#16 feat(course) list course series
  lib/core/utils.dart
  lib/course/bloc.dart
  lib/course/data/course.dart
  lib/course/utils.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/course/widgets/elevated_expansion_tile.dart
  lib/news/widgets/news_page.dart
  lib/routes.dart
  pubspec.lock
  pubspec.yaml
Labels: C: course, P: 4, T: feat

#18 feat(openhpi): show openHPI courses on the dashboard
  lib/app/widget/dashboard_page.dart
  lib/app/widget/hpi_theme.dart
  lib/main.dart
  lib/news/data/bloc.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/news_page.dart
  lib/openhpi/data/bloc.dart
  lib/openhpi/data/course.dart
  lib/openhpi/widgets/course_preview.dart
  lib/openhpi/widgets/openhpi_fragment.dart
  pubspec.lock
  pubspec.yaml
Labels: C: openhpi, P: 4, T: feat

#8 feat(app): add navigation
  fonts/HpiIcons.ttf
  lib/app/services/navigation.dart
  lib/app/widgets/dashboard_page.dart
  lib/app/widgets/hpi_theme.dart
  lib/app/widgets/main_scaffold.dart
  lib/app/widgets/utils.dart
  lib/core/hpi_icons.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/course/widgets/elevated_expansion_tile.dart
  lib/main.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/news_page.dart
  lib/openhpi/widgets/openhpi_fragment.dart
  lib/route.dart
  lib/routes.dart
  pubspec.lock
  pubspec.yaml
  test/widget_test.dart
Labels: C: app, P: 5, T: feat

#17 feat(news): complete article detail page
  lib/main.dart
  lib/news/utils.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/article_preview.dart
Labels: C: news, P: 5, T: feat

#24 feat(myhpi): add MyHPI page
  fonts/HpiIcons.ttf
  lib/app/widgets/main_scaffold.dart
  lib/core/hpi_icons.dart
  lib/course/data/bloc.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/main.dart
  lib/myhpi/data/bloc.dart
  lib/myhpi/data/infobit.dart
  lib/myhpi/widgets/infobit_card.dart
  lib/myhpi/widgets/myhpi_page.dart
  lib/news/data/bloc.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/news_page.dart
  lib/route.dart
Labels: C: myhpi, P: 4, T: feat

#25 feat(app): fix theme and logo
  android/app/build.gradle
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/de/hpi/android/MainActivity.java
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/values/colors.xml
  android/app/src/profile/AndroidManifest.xml
  assets/logo/foreground.png
  assets/logo/icon.png
  assets/logo/logo.png
  assets/logo/logo_text.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  ios/Runner/Info.plist
  lib/app/widgets/dashboard_page.dart
  lib/app/widgets/utils.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/main.dart
  lib/myhpi/widgets/infobit_card.dart
  lib/myhpi/widgets/myhpi_page.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/news_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, P: 5, T: feat

#31 feat(tools): add timer
  fonts/HpiIcons.ttf
  lib/app/widgets/main_scaffold.dart
  lib/core/hpi_icons.dart
  lib/main.dart
  lib/route.dart
  lib/tools/widgets/timer_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: tools, P: 5, T: feat

#29 feat: add feedback dialog and appbar actions
  lib/app/widgets/app_bar.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/feedback/data/feedback.dart
  lib/feedback/widgets/feedback_dialog.dart
  lib/main.dart
Labels: C: feedback, P: 5, T: feat
