Repository HPI-de/hpi-flutter, pull requests merged in 2019-10, with the labels that each got.

#61 feat(core, course, news): support pagination
  lib/core/widgets/paginated_sliver_list.dart
  lib/course/data/bloc.dart
  lib/course/widgets/course_page.dart
  lib/food/bloc.dart
  lib/food/data/restaurant.dart
  lib/food/widgets/menu_item.dart
  lib/food/widgets/restaurant_menu.dart
  lib/news/data/bloc.dart
  lib/news/widgets/news_fragment.dart
  lib/news/widgets/news_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: core, C: course, C: news, P: 5, T: feat

#66 feat(course, myhpi): update HPI Cloud APIs to v0.0.10
  .gitignore
  android/gradle.properties
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/app/widgets/app_bar.dart
  lib/app/widgets/utils.dart
  lib/core/widgets/chip_group.dart
  lib/core/widgets/image_widget.dart
  lib/core/widgets/pagination.dart
  lib/core/widgets/preview_box.dart
  lib/core/widgets/radial_drag_gesture_detector.dart
  lib/core/widgets/scrim_around.dart
  lib/core/widgets/stream_chip.dart
  lib/course/data/bloc.dart
  lib/course/data/course.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/myhpi/data/bloc.dart
  lib/myhpi/data/infobit.dart
  lib/myhpi/widgets/infobit_card.dart
  lib/myhpi/widgets/infobit_page.dart
  lib/myhpi/widgets/myhpi_page.dart
  lib/news/data/bloc.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/news_fragment.dart
  lib/news/widgets/news_page.dart
  lib/route.dart
  lib/tools/widgets/timer_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: course, C: myhpi, P: 5, T: feat

#60 fix(food): add food page
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/app/widgets/dashboard_page.dart
  lib/core/data/utils.dart
  lib/food/bloc.dart
  lib/food/data/bloc.dart
  lib/food/widgets/food_fragment.dart
  lib/food/widgets/food_page.dart
  lib/food/widgets/menu_item.dart
  lib/food/widgets/restaurant_menu.dart
  lib/news/widgets/news_fragment.dart
  lib/openhpi/widgets/openhpi_fragment.dart
Labels: C: food, P: 3, T: feat

#57 feat(settings): add ad, version, contributors, legals
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  assets/logo/mobileDev sheep.png
  assets/privacyPolicy.md
  lib/app/widgets/main_scaffold.dart
  lib/core/localizations.dart
  lib/main.dart
  lib/route.dart
  lib/settings/widgets/settings_page.dart
  lib/tools/widgets/timer_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: settings, P: 5, T: feat

#72 feat: cache font
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: T: feat

#73 feat(onboarding): add onboarding
  assets/images/onboarding/mrNet.png
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  assets/logo/logo_captionWhite.png
  lib/core/utils.dart
  lib/course/widgets/course_detail_page.dart
  lib/main.dart
  lib/myhpi/widgets/infobit_card.dart
  lib/myhpi/widgets/infobit_page.dart
  lib/news/widgets/article_page.dart
  lib/onboarding/widgets/about_myself.dart
  lib/onboarding/widgets/onboarding_page.dart
  lib/onboarding/widgets/onboarding_pager.dart
  lib/openhpi/widgets/course_preview.dart
  lib/route.dart
  lib/settings/widgets/scrollable_markdown.dart
  lib/settings/widgets/settings_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: onboarding, P: 3, T: feat

#70 feat(app): add feedback button on dashboard
  lib/app/widgets/dashboard_page.dart
  lib/food/widgets/food_fragment.dart
  lib/food/widgets/menu_item.dart
  lib/food/widgets/restaurant_menu.dart
  lib/main.dart
Labels: C: app, P: 5, T: fix

#85 feat: support multilingual API
  lib/core/data/utils.dart
  lib/course/data/bloc.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/feedback/data/bloc.dart
  lib/feedback/widgets/feedback_dialog.dart
  lib/food/data/bloc.dart
  lib/food/widgets/food_fragment.dart
  lib/food/widgets/food_page.dart
  lib/main.dart
  lib/myhpi/data/bloc.dart
  lib/myhpi/widgets/infobit_page.dart
  lib/myhpi/widgets/myhpi_page.dart
  lib/news/data/bloc.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/news_fragment.dart
  lib/news/widgets/news_page.dart
Labels: P: 5, T: feat

#78 feat(crashreporting): add crash reporting
  lib/crashreporting/data/bloc.dart
  lib/crashreporting/data/crashreporting.dart
  lib/crashreporting/utils.dart
  lib/main.dart
  pubspec.yaml
Labels: C: app, P: 3, T: feat

#84 feat(settings): update imprint
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/settings/widgets/settings_page.dart
  pubspec.lock
Labels: C: settings, P: 4, T: feat

#87 feat(onboarding): add opt-in for crash reporting
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/course/data/course.dart
  lib/course/utils.dart
  lib/course/widgets/course_detail_page.dart
  lib/main.dart
  lib/onboarding/widgets/onboarding_page.dart
  pubspec.lock
Labels: C: onboarding, P: 5, T: feat

#102 fix(app): add better icons and splash screens
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  assets/logo/foreground.png
  assets/logo/icon-ios.png
  assets/logo/icon.png
  assets/logo/logo.png
  assets/logo/logo_captionWhite.png
  assets/logo/logo_text.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/splash-1x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/splash-2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/splash-3x.png
  pubspec.yaml
Labels: C: app, T: fix

#104 fix(app): change hpi logo to fit
  assets/logo/logo_text.png
  lib/app/widgets/dashboard_page.dart
Labels: C: app, T: fix

#112 fix(app): enlarge android splash screen logo
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-hdpi/ic_splash_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_splash_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_splash_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_splash_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_splash_foreground.png
  android/app/src/main/res/drawable/launch_background.xml
Labels: C: app, P: 4, T: fix
