Repository HPI-de/hpi-flutter, pull requests merged in 2020-01, with the labels that each got.

#122 Navigation drawer now with opacity 0.6
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/app/widgets/main_scaffold.dart
  lib/onboarding/widgets/about_myself.dart
  lib/settings/widgets/settings_page.dart
  pubspec.lock
Labels: C: app, C: settings, T: fix

#95 feat(settings): add option to repeat onboarding
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/settings/widgets/settings_page.dart
Labels: C: settings, P: 4, T: feat

#123 Migrate to AndroidX
  .gitignore
  .vscode/launch.json
  android/gradle.properties
  gradlew
  gradlew.bat
  pubspec.lock
  pubspec.yaml
Labels: T: build

#111 ci: add CI
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/component-labels.yml
  .github/type-labels.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .gitignore
  Dangerfile
  Gemfile
  Gemfile.lock
  analysis_options.yaml
  lib/app/widgets/app_bar.dart
  lib/app/widgets/dashboard_page.dart
  lib/app/widgets/hpi_theme.dart
  lib/core/localizations.dart
  lib/core/widgets/preview_box.dart
  lib/core/widgets/radial_drag_gesture_detector.dart
  lib/course/data/course.dart
  lib/course/widgets/course_detail_page.dart
  lib/course/widgets/course_page.dart
  lib/course/widgets/elevated_expansion_tile.dart
  lib/crashreporting/utils.dart
  lib/feedback/data/feedback.dart
  lib/feedback/widgets/feedback_dialog.dart
  lib/food/widgets/food_fragment.dart
  lib/food/widgets/food_page.dart
  lib/food/widgets/menu_item.dart
  lib/main.dart
  lib/myhpi/widgets/infobit_card.dart
  lib/myhpi/widgets/infobit_page.dart
  lib/myhpi/widgets/myhpi_page.dart
  lib/news/widgets/article_page.dart
  lib/news/widgets/news_fragment.dart
  lib/news/widgets/news_page.dart
  lib/onboarding/widgets/about_myself.dart
  lib/onboarding/widgets/onboarding_page.dart
  lib/onboarding/widgets/onboarding_pager.dart
  lib/openhpi/widgets/openhpi_fragment.dart
  lib/route.dart
  lib/settings/widgets/scrollable_markdown.dart
  lib/tools/widgets/timer_page.dart
  pubspec.lock
  pubspec.yaml
  test/widget_test.dart
Labels: C: app, C: core, C: course, C: feedback, C: food, C: myhpi, C: news, C: onboarding, C: openhpi, C: settings, C: tools, T: ci

#125 fix: only show first character of counter on each menu item
  lib/food/widgets/menu_item.dart
  pubspec.lock
  pubspec.yaml
Labels: C: food, T: fix

#98 feat(course, news): add share and open in browser buttons
  assets/localizations/strings_de.yaml
  assets/localizations/strings_en.yaml
  lib/app/widgets/dashboard_page.dart
  lib/app/widgets/main_scaffold.dart
  lib/course/widgets/course_detail_page.dart
  lib/news/widgets/article_page.dart
  pubspec.lock
  pubspec.yaml
Labels: C: course, C: news, P: 2, T: feat
